</div>
<footer>
    <div class="footer-text-area">
        <p class="footer-text">turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh
            cras
            pulvinar mattis nunc sed blandit libero</p>
        <p class="social-media"><i class="material-icons">person_outline</i>Facebook</p>
        <p class="social-media"><i class="material-icons">person_outline</i>Twitter</p>
        <p class="social-media"><i class="material-icons">person_outline</i>Instagram</p>

    </div class="footer-contact-area">
    <div>
        <p class="footer-contact"><i class="material-icons">person_outline</i>Mail</p>
        <p class="footer-contact"><i class="material-icons">person_outline</i>Direccion:</p>
        <p class="footer-contact"><i class="material-icons">person_outline</i>Telefono</p>

    </div>
    <div class="footer-form-area">
        <div class="form-wrapper footer-form">
            <h3>Contactanos</h3>
            <form class="form-image contact-form" action="#" method="POST">
                <input name="peopleName" class="image-input image-name" type="text" placeholder="Nombre"
                    aria-label="name-of-People" required>
                <input name="peopleLastName" class="image-input" type="text" placeholder="Apellido"
                    aria-label="last-name-of-peopla" required><br />
                <input name="email" class="email-image" type="email" placeholder="andres@gmail.com" aria-label="email-of-people"
                    required><br />
                <textarea rows="5" name="imageTextArea" aria-label="text-area-form"></textarea><br />
                <button class="form-button" type="submit" name="home-image-form" aria-label="send-information">Enviar</button>
            </form>
    </div>
</footer>
<script src="../js/index.js"></script>
</body>

</html>