<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="digital-marketing, paginas web, crea tu pagina web, diseños de paginas web">
    <meta name="description" content="Agencia especializada en diseño y creacion de paginas web">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="icon" href="images/favicon.jpg">
    <link rel="apple-touch-icon-precomposed" href="images/favicon.jpg">
    <title>Chain Marketing</title>
</head>

<body>
    <header>
        <h1>Chain Marketing Digital</h1>
        <nav class="navbar">
            <div class="logo"><a href="/" aria-label="take-the-user-back-to-homepage"><img src="images/Chain-logo.jpg"
                        alt="chain-logo"></a></div>
            <button id="hamburger-icon"><i class="material-icons">menu</i></button>
            <div class="wrapmenu">
                <ul class="menu">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/nosotros">NOSOTROS</a></li>
                    <li class="servicios"><a href="/">SERVICIOS <i class="material-icons">keyboard_arrow_down</i></a>
                        <ul class="servicios-submenu mobile-submenu">
                            <li><a href="/">Diseño Web</a></li>
                            <li><a href="/">SEO</a></li>
                            <li><a href="/">Marketing Digital</a></li>
                        </ul>
                    </li>
                    <li><a href="/">TRABAJOS</a></li>
                    <li><a href="/">BLOG Y TUTORIAL</a></li>

                </ul>

            </div>
        </nav>
    </header>
    <div class="container">