<%- include("Partials/head") -%>
<section class="world-image">
    <div class="world-image-text-wrapper">
        <div class="title-world-image">
            <h2>Diseño de páginas web,
                SEO, redes sociales,
                marketing digital y
                estrategias de éxito
            </h2>
        </div>
        <div class="text-world-image">
            <p>Todos los servicios digitales en un mismo lugar.
                Tu pagina web pensada para que tus clientes
                te encuentren en Google y esté optimizada en todos
                los dispositivos en cualquier lado del mundo.
            </p>
        </div>
    </div>
    <div class="form-wrapper">
        <h3>Completa el formulario y nos contactaremos</h3>
        <form class="form-image contact-form" action="#" method="POST">
            <input name="peopleName" class="image-input image-name" type="text" placeholder="Nombre"
                aria-label="name-of-People" required>
            <input name="peopleLastName" class="image-input" type="text" placeholder="Apellido"
                aria-label="last-name-of-peopla" required><br />
            <input name="email" class="email-image" type="email" placeholder="andres@gmail.com"
                aria-label="email-of-people" required><br />
            <textarea rows="5" name="imageTextArea" aria-label="text-area-form"></textarea><br />
            <button class="form-button normal-button" type="submit" name="home-image-form"
                aria-label="send-information">Enviar</button>
        </form>
    </div>
</section>
<section class="servicios">
    <h2 class="titulo-servicios">Nuestros Servicios</h2>
    <section class="content-servicios">
        <div class="service-cards">
            <i class="material-icons">tab</i>
            <h3>Diseño Web</h3>
            <p>El negocio que no esta en internet no existe porque lo estamos todos. Es así como deberas subirte al
                mundo digital y al
                menos tener tu pagina web para pequeñas y medianas empresas</p>
            <button class="normal-button">Ver más</button>
        </div>
        <div class="service-cards">
            <i class="material-icons">timeline</i>
            <h3>Posicionamiento en Google</h3>
            <p>Es la herramienta donde tus clientes buscan, posicionate de la mejor manera posible y así generarás mayor
                tráfico para
                aumentar las posibilidades de ganar más dinero con Google</p>
            <button class="normal-button">Ver más</button>
        </div>
        <div class="service-cards">
            <i class="material-icons">chat</i>
            <h3>Publicidad Online</h3>
            <p>La publicidad online es la clave de toda empresa para que mediante internet ganes a la competencia,
                generando nuevas
                estrategias de comunicación y de conversión sostenida a lo largo del tiempo.</p>
            <button class="normal-button">Ver más</button>
        </div>
    </section>
</section>

<section class="objectives-chain">
    <div class="side-image">

    </div>
    <div class="objectives-text">
        <span>Objetivos de Chain</span>
        <h2>Tu éxito es el nuestro.</h2>
        <p>Brindamos un servicio digital integral bajo el lema “tu éxito es el nuestro” dejando en claro que daremos
            todo lo
            posible para que llegues a tu éxito, asesorando y guiando hacia la linea del éxito.</p>
        <a href="#" target="_blank">Ver más sobre Chain Team</a>
    </div>

</section>
<section class="servicios trabajos">
    <h2 class="titulo-servicios">Nuestros Trabajos</h2>
    <section class="content-servicios">
        <div class="outer-card">
            <div class="service-cards trabajos-card">
                <img src="../images/posteo4.jpg">
            </div>
            <h3>Creatividad En Redes Sociales</h3>
        </div>
        <div class="outer-card">
            <div class="service-cards trabajos-card">
                <img src="../images/Gustavo-Arquitecto-1080x1080.jpg">
            </div>
            <h3>Diseño De Páginas Web</h3>
        </div>
        <div class="outer-card">
            <div class="service-cards trabajos-card">
                <img src="../images/VHonline-1080x1080.jpg">
            </div>
            <h3>Ecommerce O Tiendas Online</h3>
        </div>
    </section>
    <button class="normal-button">Ver mas sobre trabajos</button>
</section>
<section class="quote-blue">
    <div>
        <span>Con buen asesoramiento en marketing digital</span>
        <h2>Te llevaremos a un nivel superior, bajo estrategias funcionales y exitosas de
            <br /><em>“design-marketing”</em></h2>
        <button class="normal-button">¡Conocenos!</button>
    </div>

</section>




<%- include("Partials/footer") -%>