<%- include("Partials/head") -%>
<section id="title-section">
    <h2>Queremos que sepas <em>nuestro propósitos</em> para que conozcas nuestros valores</h2>
</section>

<section id="our-value">
    <div class="our-value-card">
        <h4>Nuestro Valor</h4>
        <h3>Perfeccíon</h3>
        <p>Llegamos a ser un equipo complementario donde el pensamiento de marketing y el de diseño se unificaron para
            llegar al éxito de cada proyecto. Pensando primero en los lcientes de nuestros clientes</p>
    </div>
</section>

<section id="skills">
    <div class="skills-textos">
        <h2>Skills</h2>
        <p>
            Creemos en que la sociedad está adoptando conocimientos cada vez mas orientados a la tecnología y que el
            sector joven ya
            es parte de un nuevo sistema de vida. Aquel sistema de vida se visualiza en su mayoría a través de pantallas
            de
            diferentes tamaños. Todo el día estamos con una, y muchos de nosotros manejamos dos al mismo tiempo.
            Pues nosotros manejamos 3, Computadora, Laptop y Smatphone. Trabajamos con ambas tres todos los días, 12
            horas al día.
        </p>

    </div>
    <div class="skill-barras">
        <div class="bars">
            <i>Icono</i>
            <h4>Diseño UX/UI</h4>
            <div class="outer-bar"><div class="inner-bar  diseno-ux"></div></div>
        </div>
        <div class="bars">
            <i>Icono</i>
            <h4>Full Stack Web Development</h4>
            <div class="outer-bar"><div class="inner-bar full-stack"></div></div>
        </div>
        <div class="bars">
            <i>Icono</i>
            <h4>Digital Marketing</h4>
            <div class="outer-bar"><div class="inner-bar digital-marketing"></div></div>
        </div>
        <div class="bars">
            <i>Icono</i>
            <h4>Social Media</h4>
            <div class="outer-bar"><div class="inner-bar social-media"></div></div>
        </div>
    </div>

</section>

<section id="team">

</section>

<%- include("Partials/footer") -%>